name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+a[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+b[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

env:
  PACKAGE_NAME: "fabi-demo"
  MODULE_NAME: "fabi_demo"
  OWNER: "fabianazioti"

jobs:
  ################################################
  #   EXTRACT TAG DETAILS
  ################################################
  details:
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.release.outputs.new_version }}
      suffix: ${{ steps.release.outputs.suffix }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      clean_version: ${{ steps.clean_version.outputs.clean_version }}

    steps:
      - uses: actions/checkout@v4

      - name: Extract tag and Details
        id: release
        run: |
          if [ "${{ github.ref_type }}" = "tag" ]; then
            TAG_NAME=${GITHUB_REF#refs/tags/}
            NEW_VERSION=$(echo $TAG_NAME | awk -F'-' '{print $1}')
            SUFFIX=$(echo $TAG_NAME | grep -oP '[a-z]+[0-9]+' || echo "")
            echo "new_version=$NEW_VERSION" >> "$GITHUB_OUTPUT"
            echo "suffix=$SUFFIX" >> "$GITHUB_OUTPUT"
            echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          else
            echo "No tag found"
            exit 1
          fi

      - name: Extract clean version (remove 'v')
        id: clean_version
        run: |
          RAW="${{ steps.release.outputs.new_version }}"
          CLEAN="${RAW#v}"
          echo "clean_version=$CLEAN" >> $GITHUB_OUTPUT

  ################################################
  #   CHECK VERSION ON PYPI
  ################################################
  check_pypi:
    needs: details
    runs-on: ubuntu-latest

    steps:
      - name: Fetch information from PyPI
        run: |
          response=$(curl -s https://pypi.org/pypi/${{ env.PACKAGE_NAME }}/json || echo "{}")
          latest_previous_version=$(echo $response | grep -oP '"releases":\{"\K[^"]+' | sort -rV | head -n 1)
          if [ -z "$latest_previous_version" ]; then
            echo "Package not found on PyPI."
            latest_previous_version="0.0.0"
          fi
          echo "latest_previous_version=$latest_previous_version" >> $GITHUB_ENV

      - name: Compare versions and exit if not newer
        run: |
          NEW_VERSION=${{ needs.details.outputs.new_version }}
          LATEST_VERSION=$latest_previous_version
          if [ "$(printf '%s\n' "$LATEST_VERSION" "$NEW_VERSION" | sort -rV | head -n 1)" != "$NEW_VERSION" ] \
            || [ "$NEW_VERSION" == "$LATEST_VERSION" ]; then
            echo "The new version $NEW_VERSION is not greater than $LATEST_VERSION"
            exit 1
          fi

  ################################################
  #   BUILD PACKAGE
  ################################################
  setup_and_build:
    needs: [details, check_pypi]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build and twine
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install build twine

      - name: Update project version
        run: |
          sed -i "s/^version = .*/version = \"${{ needs.details.outputs.clean_version }}\"/" pyproject.toml

      - name: Generate stubs
        run: |
          python3 -m pip install mypy
          stubgen ${{ env.MODULE_NAME }} -o .

      - name: Build source and wheel distribution
        run: |
          python3 -m build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  ################################################
  #  TESTPYPI (TWINE)
  ################################################
  testpypi_publish:
    name: Upload to TestPyPI (SAFE TEST)
    needs: [setup_and_build, details]
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Upload to TestPyPI using twine
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: |
          python3 -m pip install twine
          python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*

  ################################################
  #  PYPI (TRUSTED PUBLISHING)
  ################################################
  pypi_publish:
    name: Upload release to PyPI
    needs: [setup_and_build, details]
    runs-on: ubuntu-latest
    environment:
      name: release
    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  ################################################
  #  GITHUB RELEASE
  ################################################
  github_release:
    name: Create GitHub Release
    needs: [setup_and_build, details]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.details.outputs.tag_name }}
          name: "Version ${{ needs.details.outputs.clean_version }}"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
